/* ---------------------- */
/* Globel */
/* ---------------------- */




/* ---------------------- */
/* Heading & Text */
/* ---------------------- */
.heading{
	font-size: 50px;
	color: #fff;
	font-weight: 300;
}
.message{
	font-size: 16px;
	line-height: 24px;
	color: #fff;
}


/* ---------------------- */
/* Components */
/* ---------------------- */

/* Card */
.landing_outer .card{
	margin: 0 auto;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 3px 30px rgba(0,0,0,0.3);
	max-width: 900px;
}
/* Btn */
.landing_outer .btn{
    font-family: inherit;
    font-size: 100%;
    padding: 12px 48px;
    color: #000;
    border: 1px solid #999;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 4px;
    line-height: 24px;
    cursor: pointer;
}
.landing_outer input.btn:focus{
	outline: 0;
}
.landing_outer .btn.btn--primary{
	background: linear-gradient(45deg,#9f2bff,#44beea);
	border: 0px;
	color: #fff;
	transition: box-shadow 0.3s;
}
.landing_outer .btn.btn--primary:hover{
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
/* Form */
.landing_password .form input[type="text"],
.landing_password .form input[type="password"],
.landing_password .form input[type="email"],
.landing_password .form input[type="url"],
.landing_password .form input[type="date"],
.landing_password .form input[type="month"],
.landing_password .form input[type="time"],
.landing_password .form input[type="datetime"],
.landing_password .form input[type="datetime-local"],
.landing_password .form input[type="week"],
.landing_password .form input[type="number"],
.landing_password .form input[type="search"],
.landing_password .form input[type="tel"],
.landing_password .form input[type="color"],
.landing_password .form select,
.landing_password .form textarea {
    padding: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    color: #666;
}
.landing_password .form input[type="text"]:focus,
.landing_password .form input[type="password"]:focus,
.landing_password .form input[type="email"]:focus,
.landing_password .form input[type="url"]:focus,
.landing_password .form input[type="date"]:focus,
.landing_password .form input[type="month"]:focus,
.landing_password .form input[type="time"]:focus,
.landing_password .form input[type="datetime"]:focus,
.landing_password .form input[type="datetime-local"]:focus,
.landing_password .form input[type="week"]:focus,
.landing_password .form input[type="number"]:focus,
.landing_password .form input[type="search"]:focus,
.landing_password .form input[type="tel"]:focus,
.landing_password .form input[type="color"]:focus,
.landing_password .form select:focus,
.landing_password .form textarea:focus {
    outline: 0;
    border-color: #44beea;
}
.landing_password .form .input-container{
	margin-top: 32px;
}
.landing_password .form .label-text{
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 12px;
	color: #999;
	pointer-events: none;
	transition: all 0.3s;
}
.landing_password .form .label-text.is-active{
	font-size: 12px;
	color: #44beea;
	transform: translate(-8px,-26px);
}
/* ---------------------- */
/* Custom */
/* ---------------------- */
.landing_password .form-bg{
	height: 100%;
	background: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
}
.landing_password .form-bg:before{
	content: "";
	background: linear-gradient(45deg,#9f2bff,#44beea);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
}